.ewdPriority {
    z-index: 10000000;
    position: fixed;
}

#ewdSupporterControlsContainer {
    width: 40px;
    top: 40px;
    right: 10px;
}

#ewdSupporterControlsContainer2 {
    width: 40px;
    top: 40px;
    right: 60px;
}

#ewdSupporterControlsContainer3 {
    right: 10px;
    bottom: 10px;
    background: black;
    cursor: pointer;
    border: 5px solid red;
    color: red;
    padding: 10px;
}

.ewdSupporterBookmark {
    margin-top: 10px;
    float: left;
    transition: 0.5s all ease;
    user-select: none;
}

.ewdSupporterBookmark:hover {
    transform: scale(1.2);
}

.ewdSupporterBookmark img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    filter: grayscale(100%);
}

.ewdSupporterBookmark:first-child {
    margin-top: 0px;
}

.ewdSupporterBookmark:focus {
    outline: none;
}

#imgbb>img {
    filter: grayscale(0%);
}